<h1>New Game</h1>

<div class="d-flex p-2">
<% @letters.each do |letter| %>
  <div class="mx-1 bg-info p-2 fs-3">
    <%= letter %>
  </div>
<%end%>
</div>

<form action="/score" method="TODO" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="mb-3">
    <label for="answer" class="form-label">What is the longest Word you can find?</label>
    <input type="text" name="answer" class="form-control" id="answer" placeholder="word">
  </div>
  <input id="letter" name="letter" type="hidden" value=<%= @letters.join %> />
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Play</button>
  </div>
</form>
